<meta name="google-site-verification" content="EOhH-AmMwK4-WpUY4OjX7iouxFWCi7QmgzKfl73qnxs" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-F7PBY6WVCB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-F7PBY6WVCB');
</script>
<meta name="keywords" content="blog,computerscience,development,programming,devops,projects,cloud,software,sully suleiman,suleiman,azure">